%h1= @verb
- unless @error.nil?
  #errorExplanation
    %p.flash-error= @error
- else
  - @tables.each do |left,right|
    = haml :table_pair, :locals => {:left_table => left, :right_table => right}
%br
= form('/conj', method=:post) do |f|
  = f.label(:verb, 'fiilini birleştir:', {:title => "istemde bir fiil girin (~mak/mek)"})
  = f.input(:verb)
  = f.checkbox(:pdf,%w{pdf}, {:title => "pdf çıktı seçin"})
  &emsp;
  = f.radio(:ext,%w{yetenik nedensel pasif sıfırla}, {:title => "fiil modifikasyonları seçin yoksa bütün sıfırla"})
 
