.page_title
  %h1= @verb
.aside
  -# limit to just 4 lines of definition; max 40 char/line
  -# strip off any sub turkish definition
  - @definition.slice(0..3).each do |d|
    %p= d.gsub(/;.*$/,"").slice(0..40)

- unless @error.nil?
  #errorExplanation
    %p.flash-error= @error
- else
  - @tables.each do |left,right|
    = haml :table_pair, :locals => {:left_table => left, :right_table => right}
%br
= form('/conj', method=:post) do |f|
  = f.label(:verb, 'Fiili yaz:', {:title => "bir fiil girin (~mak/mek)"})
  = f.input(:verb)
  = f.checkbox(:pdf,%w{pdf}, {:title => "pdf çıktı seçin"})
  &emsp;
  = f.radio(:ext,%w{hiçbiri yetenik nedensel pasif dönüşlü-şekil}, {:title => "fiil modifikasyoni seçin yoksa hiçbiri varsayılan"})
 
