- title1 = "geniş zaman, şimdiki zaman, gelecek zaman, belirli geçmis zaman, belirlisiz geçmis zaman"
- title2 = "gereklilik kipi, dilek kipi, şart kipi, geçmiş mükemmel zaman, şüpheli uzak geçmiş zaman"
-#
%h3 
  Merhaba, Fiil Çekimi'ne hoşgeldiniz.
%h4 
  Buyurun aşağıdaki boşluğa bir fiil girin.
%br
%h5
  Böyle yapabileceğin şeyler: 
-#
%ul
  = form('/conj', method=:post) do |f|
    %li
      = f.label(:verb, 'Fiili yaz:', {:title => "bir fiil girin (~mak/mek). göndermek için enter'a tıklayın."})
      = f.input(:verb)
    %li 
      = f.label(:ext, 'Fiil modifikasyoni seçin:')
      = f.radio(:ext,%w{hiçbiri yetenik nedensel pasif dönüşlü-şekil}, {:title => "fiil modifikasyoni seçin yoksa hiçbiri varsayılan."})
    %li
      = f.label(:pdf, 'PDF çıktı seçin:')
      = f.checkbox(:pdf,%w{pdf}, {:title => "pdf çıktı seçin"})
  %li
    = link_to( "Birincil konjugasyonları seçin &raquo;", "/list/aorist", { :title => title1 } )
    &emsp;yoksa&emsp;
    = link_to( "İkincil konjugasyonları seçin &raquo;", "/list/must_shall", { :title => title2 } )
%br
%h5
  Örnek konjugasyon: 
= image_tag( "/cekimi_screenshot.png", {:class => 'screenshot',:alt => 'çekimi screenshot'} )

-#  %li= %Q[<a href="/list/must_shall" title="#{title2}" >İkincil konjugasyonları seçin &raquo;</a>]
-#  %li /conj/xxxxx &emsp;&emsp; &emsp; xxxxx fiilini birleştirmek.
-#  %li /conj/xxxxx?=y  &emsp;&emsp;y = 'a' yetenik için, 'c' nedensel için, 'p' pasif için.
-#  %li /pdf/xxxxx  &emsp; &emsp; &emsp; xxxxx fiilini birleştirmek ve pdf olarak indir.
