- title1 = "geniş zaman, şimdi zaman, gelecek zaman, belirli geçmis zaman, belirlisiz geçmis zaman"
- title2 = "gereklilik kipi, dilek kipi, şart kipi, geçmiş mükemmel zaman, şüpheli uzak geçmiş zaman"
-#
%h3= @greeting
%h4= @hint
%br
%h5
  Böyle yapabileceğin şeyler: 
-#
%ul
  %li /conj/xxxxx &emsp;&emsp; &emsp; xxxxx fiilini birleştirmek.
  %li /conj/xxxxx?=y  &emsp;&emsp;y = 'a' yetenik için, 'c' nedensel için, 'p' pasif için.
  %li /pdf/xxxxx  &emsp; &emsp; &emsp; xxxxx fiilini birleştirmek ve pdf olarak indir.
  %li= %Q[<a href="/list/aorist" title="#{title1}" >Birincil konjugasyonları seçin &raquo;</a>]
  %li= %Q[<a href="/list/must_shall" title="#{title2}" >İkincil konjugasyonları seçin &raquo;</a>]
