-# (c) 2023 David Anderson / Cekimi, All rights reserved; 
-# modifications, from whatever source, become IP of David Anderson
-# 

!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en") 
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(name="google-site-verification" content="GabS43D6h2OysVqJsuKsq1pE7VJwaY9tMuC_fdehgRM")
    %meta(name="description" content="Automatic Turkish Verb Conjugator")
    %meta(name="description" content="Otomatik fiil çekimi yazılımı")
    %meta(name="description" content="Türkiye Türk Dil grameri çalıştırma")

    %link(rel="stylesheet" href="/css/baseline_reset.css")
    %link(rel="stylesheet" href="/css/stylesheet.css")
    %link(rel="icon" sizes="192x192" href="/favicon.ico?" type="image/x-icon")

    %title Çekimi

  %body
    .container.clearfix2
      #header
        -# %img{ :src => "/logo-50-red.png", :class => 'logo', :alt => 'çekimi logo' }
        = link_to( image_tag( "/logo-50-red.png", {:class => 'logo',:alt => 'çekimi logo'} ) , '/', { :title => "main page" } )
        .main-container
          %p Otomatik fiil çekimi yazılımı
        = link_to( image_tag( "/turk-flag-50.png", {:class => 'flag',:alt => 'türk flag & national anthem'} ) , '/istiklal-marsi.ogg', {:target => "_blank"} )
        -# %img{ :src => "/turk-flag-50.png", :class => 'flag', :alt => 'türk flag' }
      
      .main-container
        .text-area
          != yield
      
      #footer
        .main-container
          %p
            &copy;&nbsp;
            =link_to("Copyright 2023 David S. Anderson, All rights reserved ","/about")
            = "&emsp;&bull;&emsp;v #{Environ.cekimi_version} &ensp;"
